# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Node
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Laravel
/vendor
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.env
.env.backup
.env.production
.phpunit.result.cache

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
/public/build
/public/hot
/public/storage
/public/.htaccess

# Tests
/tests
/phpunit.xml
/.phpunit.cache

# Documentation
README.md
*.md
